* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #2c394b;
  transition: background-color 2s;
}
.shadowBg.active {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 1.5s;
}
#container {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  min-height: 100vh;
}
#container .infoBox {
  position: absolute;
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  min-height: 500px;
  background-color: #1e8194;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  color: #f2f2f2;
  padding: 2rem;
  font-family: "Josefin Sans", sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
#container .infoBox.active {
  visibility: visible;
  opacity: 1;
}
#container .infoBox .infoBox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
#container .infoBox .infoBox-header h1 {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}
#container .infoBox .infoBox-header i {
  font-size: 1.7rem;
  transition: color 0.5s;
  cursor: pointer;
}
#container .infoBox .infoBox-header i:hover {
  color: rgb(16, 69, 79, 60%);
}
#container .infoBox ul li {
  font-family: "Josefin Sans", sans-serif;
  line-height: 3rem;
  font-size: 1.3rem;
}
#container .social {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  background-color: #1e8194;
  padding: 0.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#container .timer-info,
#container .social a {
  color: #fff;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s;
}
#container .timer-info {
  border: 0;
  outline: none;
  background-color: #1e8194;
}
#container .timer-info:hover,
#container .social a:hover {
  background-color: rgb(16, 69, 79, 60%);
}
#container .btn-container {
  display: flex;
  gap: 2rem;
}
#container .btn-container .btn {
  color: #fff;
  background-color: #f05454;
  outline: none;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#container .btn-container .btn:hover {
  background: #fff;
  color: #f05454;
}
#container .btn-container .btn.active {
  border: 2px solid #fff;
}
.timer {
  position: relative;
}
.timer .time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  font-weight: 700;
  color: #fff;
}
.timer svg {
  display: inline-block;
  vertical-align: middle;
}
.timer svg circle {
  stroke-width: 5px;
  fill: transparent;
  stroke-linecap: round;
}
#circle1 {
  stroke: rgba(0, 0, 0, 0.4);
}
#circle2 {
  stroke: #bbe1fa;
  transition: 1s linear;
}
#container .info {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#container .info i {
  color: #f05454;
}
.actionBtn {
  color: #f05454;
  font-size: 7rem;
  cursor: pointer;
  transition: color 0.5s;
}
.actionBtn:hover {
  color: rgba(240, 84, 84, 60%);
}
footer {
  margin-top: auto;
}
@media screen and (max-width: 605px) {
  #container .btn-container {
    flex-direction: column;
    width: 90%;
  }
  #container .btn-container .btn {
    width: 100%;
  }
}
